<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width,
                   initial-scale=1.0">

    <title>
        Student Performance Prediction
    </title>

    <link rel="stylesheet" href="{{ url_for('static',
          filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>
            Student Performance Prediction System
        </h1>

        <p>
            End-to-End MLOps Project
        </p>

        <a href="/predict">

            <button>
                Start Prediction
            </button>

        </a>

    </div>

</body>

</html>